.container-img img {
    width: 100%;
   /*  height: 100%;*/
} 

.container {
    position: relative;
}

.container-wzone {
    position: absolute;
    top: -198px;
    left: 32%;
    font-size: 45px;
    color: #fff;
    text-align: center;
}

.container-wztow {
    top: -116px;
    left: 34%;
    position: absolute;
    font-size: 15px;
    color: #fff;
    text-align: center;
}

@media screen and (max-width:768px) {
    .container-img {
        display: none;

    }

}